:root{
    --light-blue: #3891CC;
    --dark-blue: #010727;
    --montserrat: 'Montserrat', sans-serif;
    --playfair:  'Playfair Display',serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
}

h3, h4, h5 {
  color: #FFF;
}

.btn{
    color: white;
    background: #3891CC;
    border-radius: 3px;
    text-decoration: none;
    padding: 20px 35px;
}


/* COLORS  */

.text-blue{
    color: var(--light-blue);
}

.text-dark-blue{
    color:var(--dark-blue);
}



/* NAVBAR */

#donate{
    height: 45px;
    background: var(--dark-blue);
    color: var(--light-blue);
    width: 100%;
    display: flex;
    padding: 0 15px ;
    justify-content: space-between;
}

#donate-navs{
    display: flex;
    justify-content: space-between;

}
#donate .donate-nav{
    text-decoration: none;
    color: var(--light-blue);
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 15px;


}

#donate-btn{
    background: var(--light-blue);
    color: white !important;
    
    width: 120px;
    justify-self: right;
    padding: 15px ;
    margin: 0 15px;

}


#donate-btn:hover{
    background: white;
    color: var(--light-blue) !important;
    
}


#donate-btn:hover svg .adb{
    fill: var(--light-blue);
}

#donate-btn svg{
    margin-left: 8px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-navbar {
  height: 75px;
  position: fixed;
  z-index: 10;
  background-color: #FFF;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid var(--light-blue) !important;
  
}

.nav-left{
    display:flex;
    flex-direction: row;
    width:60%;
    margin: 14px 40px;
    align-items: center;

}


.nav-left p{
    margin: auto 25px;
    font-family: var(--montserrat);
    font-size: 20px;
    color: var(--dark-blue);
}

.nav-left p span {
  color: #3891CC;
}

.nav-right{
    display:flex;
    align-items: center;
    margin: 14px 40px;
    position: relative;
}

.nav-mobile{
    display: none;
}

#IUC-subtitle{
    font-family: var(--playfair);
    color: var(--light-blue);
    font-style: italic;
    font-size: 14px;

}

#divider{
    border: 1px solid #E2E2E2;
    margin-left: 25px;
}


#search{
    width: 270px;
    height: 48px;
    border-radius: 24px;
    background: #E8E8E8;
    border: 1px solid #D9D9D9;
    padding: 0 25px;
    margin: 0 30px;
    font-size: 14px;
}

.search-icon{
    position: absolute;
    top: 20px;
    right: 70px;
}

.course-search-icon {
  top: 13px;
}


#search:hover + svg .asrt,   #search:hover + svg .csrt {
    stroke: var(--light-blue) !important;
  
}

#search:focus + svg .asrt,   #search:focus + svg .csrt, #search:focus {
    stroke: var(--light-blue) !important;
    border-color: var(--light-blue);
}

.nav-right:hover svg .as{
    stroke: var(--light-blue);
}

.btn:hover{
    background: var(--dark-blue);
}

/*NEWS-SUBPAGE*/
.news-header{
    width:100%;
    height: 144px;
    background: url("/IUC/trunk/FRONTEND/to_include/news-header.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.news-overlay{
    background-image: linear-gradient(#010727, #010727);
    opacity:0.6;
    height: inherit;
}

.news-header h1{
    color: white;
    position: absolute;
    top: 65px;
    z-index: 10;
    margin-left:50px;
    font-family: var(--playfair);
    font-size:30px;
    font-weight: bold;
}

.news-container{
    display:flex;
    flex-direction: column;
    max-width: 950px;
    margin:50px auto;
     
}

.news-flex-wrap{
    display:flex;
}

.switch-news{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    margin-right:100px;
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 12px;

}

.switch-news svg{
    margin-left:18px;
    
}

.switch-news svg .adet{
    fill: var(--light-blue);    
}


.switch-news  svg:hover .adet, .switch-news svg:hover .alist{
    fill: rgba(0,0,0,0.16);
}
.news-detailed{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    justify-content: space-between;
}

.news-detailed img{
    max-width: 450px;
    max-height:270px;
    border-radius: 5px;
}

.news-detailed .desc{
    max-width: 400px;
    display: flex;
    align-content: space-between;
    border-bottom: 1px solid #E2E2E2;
}
.news-detailed .desc .desc-title{
    font-family: var(--playfair);
    font-size:20px;
    font-weight: 800;
    line-height: 30px;
    
}

.news-detailed:hover{
    color: var(--light-blue);
}
.news-detailed .desc p{
    font-family: var(--montserrat);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-top:18px;
}

.news-detailed .desc a{
    font-family: var(--playfair);
    font-size: 13px;
    font-weight: 900;
    text-decoration: none;
    color: var(--dark-blue);
    padding:18px 0;
    display: flex;
    justify-content: space-between;
}

.news-container .news-row{
    margin-top:20px;
    display: none;
}

.load-news{
    width: 890px;
    background: var(--light-blue);
    color: white;
    font-family: var(--playfair);
    font-weight: 800;
    font-size:13px;
    height: 60px;
    border-radius: 3px;
    box-shadow: 0px 3px 6px  rgba(0,0,0,0.16);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-top:40px;
    }

.load-news:hover{
    background: var(--dark-blue);
}
 /* HAMBURGER */
 #hamburger{
    background: url("/IUC/trunk/FRONTEND/to_include/connect-background.jpg");
    background-position: left;
    background-size: cover;
    height: 100vh;
    width:100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    
}

#hamburger .modal-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg, rgba(1, 7, 39, 1) 48%, rgba(1, 7, 39, 0.85));
}

#hamburger .modal-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    display:flex;
    flex-direction: column;
}

.hamburger-navbar {
    height: 75px;
    position: fixed;
    z-index: 10;    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
}

.hamburger-navbar .course-search-icon{
    top: 18px;
}
.hamburger-navbar .nav-left p{
    color:white;
    font-size: 15px;
    font-weight: 300;
    margin-top: 7px;
}
.hamburger-navbar h1{
    color: white;
    font-family: var(--playfair);
    font-weight: 100;
    font-size: 48px;
}

.hamburger-navbar #search{
    background: rgba(1,7,39,0.28);
    color: white;
    margin-top:7px;
}

.content-container{
    display: flex;
    flex-direction: row;    
    margin: 200px 150px;
    justify-content: space-between;
}

.content-list{
    display: flex;
    flex-direction: column;
   
    overflow-y: auto;
    
   
}
.active-content{
    color: var(--light-blue) !important;
    
}

.active-content p{
    margin-left: 118px;
}

.pop{
    border: 1.5px solid var(--light-blue);
    height:180px;
    width: 1px;
    transform:  rotate(90deg) !important;
}

.content-list a:hover{
    color: var(--light-blue);
}
.content-list a{
    color: white;
    font-family: var(--montserrat);
    font-size: 30px;
    line-height: 60px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    height: 60px;    
    align-items: center;
    
}


.content-next{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    margin-right: 250px;
    max-width: 400px;
}

.next{
    color: white;
    font-family: var(--montserrat);
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 150px;
}

.next p{
    margin: 0 30px;
   
}

.content-next a{
    border: 1px solid white;
    border-radius: 3px;
    box-shadow:0px 3px 6px  rgba(0,0,0,0.16);
    margin-top:50px;
    text-decoration: none;
    color: white;
    padding:20px;
    max-width: 250px;
    display: flex;
    justify-content: space-between;
}

.content-next a:hover{
    border-color: #010727;
}
.content-next h1{
    font-family: var(--playfair);
    font-weight: bold;
    line-height: 40px;
    color: white;
    margin-top:30px;
}

.content-next .next-desc{
    color: white;
    font-family: var(--montserrat);
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.hamb-info{
    display: flex;
    flex-direction: row;
    background: var(--light-blue);
    width: 100%;
    height: 48px;
    z-index: 100;
    font-family: var(--montserrat);
    font-size: 12px;
    color: white;
    font-weight: normal;
    align-items: center;
    padding: 0 35px;
    justify-content: space-between;
}

.hamb-info p span{
    margin: 0px 25px;
}

.hamb-info div a:nth-child(2){
    margin-left: 10px;
}

.nav-right a svg:focus .hamburger{
    display: flex;
}


/* HEADER */
.header{
    height: 90vh;
    width: 100vw;
    position: relative;
}

.course {
  margin-top: 60px;
  height: 47vh;
}

.course-category {
  display: flex;
  margin-left: 2%;
}

.course-category div {
  background-color: #3891CC;
  margin-right: 10px;
  border-radius: 26px;
}

.course-category h4 {
  margin: 5px 15px;
  font-family: Montserrat;
  font-size: 12px;
  text-align: left;
}

.header .img{
    background-image: url('to_include/home-header-placeholder.jpg') ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}


.overlay{
    background-image: linear-gradient(#010727, #010727);
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

}


.content-wrap{
    position: absolute;
    width:  100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 2rem;
}

.course .content-wrap {
  flex-direction: column;
  align-items: flex-start;
}

.course .content-wrap .content {
  margin-top: 150px;
}

.content{
    margin-left: 20%;
    margin-bottom: 9%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.course .content {
    margin-left: 2%;
    margin-bottom: 3%;
}

.blue-line{
    border: 2px solid var(--light-blue);
    width: 120px;
}

.course .content h2 {
  font-size: 30px;
  font-family: Playfair Display;
}

.course .content h3 {
  font-size: 20px;
  font-family: Playfair Display;
}

.header .content h1{
    font-size: 70px;
    font-family: var(--playfair);
    margin: 0 0 8px;
}

.header .content p{
    font-family: var(--montserrat);
    font-size: 20px;
    margin: 0 0 21px;
}

.header .content.btn{
    box-shadow: 0px 3px 6px  rgba(0,0,0,0.16);
}

.circles{
    position:absolute;
    right: 50px;
    top: 37%;
    display: flex;
    flex-direction: column;

}

.course .circles {
  left: 61px;
  top: 90%;
  flex-direction: row;
}

.circle{
    border-radius:50%;
    background: white;
    width:6px;
    height:6px;
    margin:6px;

}

.header-icons{
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 50px;
    top:95%;

}

.header-icons a{
    margin: 8px;
}

/* TIME AND DURATION */

.lang-duration {
  display: flex;
  flex-direction: row;
  background-color: #3891CC;
  width: 100%;
  height: 90px;
  justify-content: space-between;
}

.lang-start {
  display: flex;
  flex-direction: row;
  margin-left: 54px;
  margin-top: 29px;
  margin-bottom: 15px;
}

.lang-end {
  margin-top: 15px;
  height: 60px;
  width: 223px;
  border: 1px solid #FFF;
  margin-right: 46px;
  text-align: center;
}

.lang-end h5 {
  margin-top: 20px;
  font-size: 14px;
}

.lang-start svg {
  margin-top: 12px;
}

.dur {
  margin-left: 15px;
}

.dur h5 {
  color: #FFF;
  font-family: Playfair Display;
}

.dur .dur-date {
  font-family: Montserrat;
  font-weight: normal;
}

.vertical-divider {
  margin-left: 20px;
  margin-right: 20px;
  border: 0.5px solid #FFF;
  background-color: #FFF;
  height: 32px;
}

/* COLLAPSIBLE BOX */

.collapsible-box{
    margin: auto;
    position: relative;
    top: -160px;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
    background: white;
    max-width: 900px;
    border-collapse: separate;
}


.collapsible-box .title{
    font-family: var(--playfair);
    font-size: 20px;
    background: #F2F2F2;
    padding: 25px 30px;
    box-shadow:  0px 3px 2px  rgba(0,0,0,0.16);
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.collapsible-box .box-content{
    height: auto;
    width: 100%;
    padding: 0px 30px ;


}

.active .box-content{
    padding: 0px 30px 50px;
    border-bottom: 2px solid var(--light-blue);
}
.active .title{
    background: white;
    color: var(--light-blue);
    box-shadow: none;
    margin-top: 5px;
}

.active .arrow{
    transform: rotate(90deg);
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row p{
    display: inline-block;
}

.row-item{
    display: flex;
flex: 1 0 250px;
padding: 1.5rem 0rem;
    justify-content: space-between;
    border-top: 1px solid  #E2E2E2;

    font-family: var(--montserrat);
    font-size: 14px;

}

.row:last-child .row-item {
    border-bottom: 1px solid #E2E2E2;
}
.row .row-item:nth-child(2){
    margin-left:25px;
}

.item svg{
    margin-right: 20px;
}

  
.row-item:hover{
    color: var(--light-blue);
}


/**UPCOMING*/

.upcoming{
    display:flex;
    flex-direction:column;
    max-width: 900px;
    margin: auto;

}


.upcoming-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--light-blue);

}

.upcoming-title h1{
    font-family: var(--playfair);
    font-weight: 900;
    font-size: 30px;
}

.upcoming-co{
    display: flex;
    flex-direction: row;
}
.upcoming-co div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--montserrat);
    font-size: 13px;
}

.upcoming-co svg:nth-child(2){
    margin-left:40px;
}

.upcoming-content{
    display: flex;
    flex-direction: column;
}


.upcoming .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.upcoming-row-content{
    display:flex;
    flex-direction: column;
    width: 290px;
    margin-top: 40px;
    border-bottom: 1px solid #ccc;
    padding: 0 auto;

}

.upcoming-date{
    font-family: var(--montserrat);
    font-size: 13px;
    font-weight: 900;
    color: #696B74;
    margin-bottom: 28px;
}

.upcoming-description{
    font-family: var(--montserrat);
    font-size: 14px;
    font-weight: 500;
}

.upcoming-full-desc{
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
}

.upcoming-full-desc svg{
    margin-right: 10px;
    min-width: 26px;
}


/** PARALLAX */

.parallax{
    height: 60vh;
    margin-top: 100px;
}

.parallax .img{
    background: url("to_include/organize-background.jpg");
    background-position: center;

}
.parallax .content .divider{
    display: none;
}
.parallax .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    align-items: flex-start;
}

.parallax .content h1{
    font-family:  var(--playfair);
    font-size: 30px;
    font-weight: 900;
    max-width: 160px;
    margin: 0 90px 0 30px;
}

.parallax .content .rd-more p {
    font-family: var(--montserrat);
    font-size: 14px;
    font-weight: 300;
    max-width: 500px;
    margin-bottom: 50px;
    line-height: 30px;
}

.parallax .content svg{
    margin-top: 8px;
}

.parallax .content a{
    font-weight: 900;
}

/* CONNECT THROUGHT IUC */

    .connect{
        position: relative;
        display: flex;
        flex-direction: row;
        max-width: 990px;
        margin: auto;
        top: -60px;
        border-radius: 5px 5px 0 5px;
        box-shadow: 0 3px 6px rgba(1,7,39,0.28);
    }

    .connect-img{
        background: url("to_include/connect-background.jpg");
        background-size: cover;
        position: relative;
        width: 50%
    }

    .connect-img .rectangle{
        position: absolute;
        background: var(--dark-blue);
        width: 133px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 80px;
    }



    .connect-img .rectangle-45{
        position: absolute;
        background: var(--dark-blue);
        transform: rotate(45deg);
        width: 20px;
        height: 20px;
        right: -10px;
        top: 115px;

    }

    .connect-content{
        display: flex;
        flex-direction: column;
        width: 50%;
        background: white;
        border-bottom: 3px solid var(--light-blue);

    }

    .connect-content h1{
        font-family: var(--playfair);
        font-size: 30px;
        margin:58px 64px 24px 64px;
        color: var(--dark-blue);
        font-weight: 900;

    }

    .connect-content .divider{
        width: 20%;
        border: 1px solid var(--light-blue);
        margin:0px 64px 24px 64px;
    }

    .connect-content p {
        font-family: var(--montserrat);
        font-size: 14px;
        font-weight: 400;
        margin:0px 64px 50px 64px;
        color: var(--dark-blue);
        line-height: 30px;
    }

    .connect-content .btn{
        margin: 0px 64px 40px 64px;
        width: 40%;
        text-align: center;
    }



/* NEWS */

.container-news{
    display: flex;
    flex-direction: column;
    max-width: 990px;
    margin: auto;

}

.news-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-blue);
    align-items: flex-end;
    padding-bottom: 15px;
}

.news-title .title{
    font-family: var(--playfair);
    font-size: 30px;
    font-weight: 900;
    color: var(--dark-blue);

}

.news-title .more-news{
    font-family: var(--playfair);
    font-size: 13px;
    font-weight: 900;
    text-decoration: none;
    color: var(--dark-blue);

}

.news-title .mobile-svg{
    display: none;
}

.more-news svg{
    width: 5px;
    height: 10px;
    margin-left: 15px;
}

.news-content{
    display: flex;
    flex-direction: column;
}

.main-news{
    display: flex;
    flex-direction: row;
    margin-top:50px;
   
}

.main-news img{
    width: 50%;
    height: 100%;


}

.main-new-desc{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom:20px;
    width:50%;
}

.news-date{
    display: flex;
    flex-direction: column;
}

.desc{
    display:flex;
    flex-direction: column;
    margin-left: 30px;

}

.news-date .day{
    font-family: var(--montserrat);
    font-weight: 900;
    font-size: 30px;
    color: var(--dark-blue);
}

.news-date .month{
    font-family: var(--montserrat);
    color: var(--light-blue);
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    border-bottom: 2px solid var(--light-blue);
}

.main-news .desc .desc-title{
    font-family: var(--playfair);
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
}

.main-new-desc p{
    font-family:  var(--montserrat);
    font-size: 14px;
    line-height: 30px;
    margin-top: 25px;
    font-weight: 500;
}

.main-new-desc a{
    font-family: var(--playfair);
    font-size: 13px;
    font-weight: 900;
    text-decoration: none;
    color: var(--dark-blue);
    padding-top: 30px;
    display: flex;
     justify-content: space-between;
}



.news-row{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    height: 75px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

}

.news-row-item{
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 100%;
    border-bottom: 1px solid #ccc;
    flex: 1 0 350px;
}


.news-row-item img{
    width: 61px;
    height: 61px;
    border-radius: 5px;
    margin-left: 20px;
}

.news-row-item .title{
    font-family: var(--playfair);
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    margin-left: 20px;
}

.news-row-item:hover{
    color: var(--light-blue);
}

.main-new-desc:hover{
    color: var(--light-blue);
}
/* IUC JOURNAL*/

.journal{
    width: 100%;
    background: #202948;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    min-height: 270px;
    margin-top:100px;

}

.journal svg{
    margin-bottom: 10px;
}
.journal h1{
    font-family: var(--playfair);
    font-size: 30px;
    font-weight: 900;
    line-height: 45px;
    color: white;
    margin-bottom: 10px;
}

.journal p{
    font-family: var(--montserrat);
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
    max-width: 495px;
    text-align: center;
}

.journal a{
    text-decoration: none;
    font-family: var(--playfair);
    font-weight: 900;
    font-size: 13px;
    color: var(--light-blue);
}

/* STUDENTS ABOUT IUC */

.students-about{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;
    min-height: 300px;

}

.students-about h1{
    font-family: var(--playfair);
    font-weight: 900;
    font-size: 30px;
}

.students-about .quote{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.students-about .quote svg{
    margin: 40px 20px;
}
.students-about .quote .divider{
    border: 0.5px solid var(--light-blue);

    width:100px;
}
.students-about img{
    border-radius: 50%;
    border: 1px solid #707070;
    margin-bottom:23px;
}

.students-about p{
    font-family: var(--playfair);
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 27px;
    text-align: center;
}

.students-about .name{
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 13px;
    color: var(--light-blue);
}

.students-about .circles{
    display: flex;
    flex-direction: row;
    position: unset;
    margin-top: 20px;

}

.students-about .circles .circle{
    background: #010727;
    border-radius:50%;
    width:6px;
    height:6px;
    margin-right:7px;
    margin-bottom: 30px;

}


.students-about  .circles .active-circle{
   background: #3891CC;
   box-shadow: 0 0 6px #3891CC;

}


/* DONATE */
.donate-section{
    width: 100%;
    background: var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    min-height: 270px;


}

.donate-section svg{
    margin-bottom: 10px;
}
.donate-section  h1{
    font-family: var(--playfair);
    font-size: 30px;
    font-weight: 900;
    line-height: 45px;
    color: white;
    margin-bottom: 10px;
}

.donate-section  p{
    font-family: var(--montserrat);
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
    max-width: 495px;
    text-align: center;
}

.donate-section  a{
    text-decoration: none;
    font-family: var(--playfair);
    font-weight: 900;
    font-size: 13px;
    color: white;
}
/* FOOTER */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #F2F2F2;
    flex-wrap: wrap;

}

.footer-container{

    margin: 68px 50px;
    min-width: 200px;

}

.footer-content{
    flex-direction: column;
    font-family: var(--montserrat);
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    margin-top: 25px;
}

.footer-title{
    padding: 0 0 1rem 0;
    border-bottom: 2px solid var(--light-blue);
    font-family: var(--montserrat);
    font-weight: 900;
    font-size: 14px;

}

#footer-title{
    font-family: var(--playfair);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;

}

.footer-icon{
    margin-right: 15px;
}

.footer .btn{
    font-family: var(--playfair);
    font-weight: 900;
    font-size: 13px;
    margin: 30px 0;
    display: block;
    text-align: center;
    width: 180px;


}

.footer-content a:hover svg .af, .footer-content a:hover svg .ai{
    fill: var(--light-blue);
}
.subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.subscribe input{
    height: 45px;
    width: 400px;
    padding: 0 25px;
    border: none;
    border: 1px solid #E2E2E2;


}

.subscribe input::placeholder{
    font-size: 14px;
}


#subscribe-btn{
    background: var(--dark-blue);
    border-radius: 0 3px 3px 0;
    height: 45px;
    width: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;

}

#subscribe-btn:hover {
    background: var(--light-blue);
}

#copyright{
    background: var(--dark-blue);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 14px 30px;
    font-family: var(--montserrat);
    font-size: 12px;
    margin-top: 65px;

}




    @media (max-width: 1240px){
        /* FOOTER */
        .footer-container {
            margin: 68px 25px;
            min-width: 150px;
        }
    }

    @media (max-width: 900px){
        /* FOOTER */
        .footer-container {
            margin: 68px 25px;
            min-width: 35%;
        }
        /* CONNECT */
        .connect{
            top:0;
            width: 100%;
            margin-bottom: 80px;
        }
        .connect-img{
            display: none;

        }

        .connect-content{
            width: 100%;
            min-height: 500px;
            border-bottom: none;
            margin: auto;
        }

        .connect-content .btn{
            width:70%;
            max-width: 400px;
            margin: 0px 64px 30px 64px;
        }

    }


    @media (max-width: 700px){
        .header{
            height: 95vh;
        }

        .header-icons{
            display: none;
        }

        .header .content h1{
            font-size: 30px;
        }


        .header .content p{
            font-size: 14px;
        }

        .blue-line{
            display:none;
        }

        .content-wrap{
            align-items: flex-end;
            padding: .5rem 1rem;
        }

        .circles{
            right: 20px;
        }

        .content{
            margin-left: 0;
        }
        .row .row-item:nth-child(2){
            margin-left:0px;
        }

        .item{
            position:relative;
        }
        .item svg{
            position: absolute;
            left: 0px;
            top: 5px;
        }

        .item p{
            margin-left: 30px;
        }

        .collapsible-box{
            top:0;
        }

        .upcoming{
            padding: 0px 20px;
            margin-top:20px;
        }

        .upcoming-co{
            flex-direction: column;
            justify-content: flex-start;
        }
        .upcoming-co div{
            display: flex;
            flex-direction: row;
        }

        .upcoming-co div svg:nth-child(1){
            color: var(--dark-blue);
            
        }
        
        .parallax .content{
            height: 100%;
            flex-direction: column;
            justify-content: flex-start;
            margin-left:36px;
        }

        .parallax .content h1{
            margin: 50px 90px 24px 0;
        }
        .parallax .content svg{
            display: none;
        }
        .parallax .content .divider{
            display: block;
            border: 1px solid var(--light-blue);
            width:25%;
            margin: 20px auto 24px 0;
        }

        .parallax .content .btn{
            margin-top: 80px;
            width: 40%;
        }

        /* NEWS SUBPAGE */
        .news-detailed{
            flex-direction: column-reverse;
            padding: 20px;
            margin: unset;
        }

        .switch-news{
            display: none;
        }

        .news-header{
            height: 185px;
        }
      
        .news-header h1{
            top: 100px;
        }


        .news-detailed .desc{
            margin: unset;
        }

        .news-flex-wrap{
            flex-direction: column;
            margin-top: 20px;
        }

        .load-news{
            padding: 20px;
            align-self: center;
            max-width: 320px;
        }
        /*NEWS*/

        .container-news{
            padding:20px !important;
            margin:unset;
        }


        .main-new-desc{
            flex-direction: column;
            width:unset;
            margin-top: 20px;
            padding: unset !important;
            margin:unset;
        }

        .main-new-desc .desc{
            margin-left: unset;
        }
        .main-news{
            flex-direction: column;
            margin-top: 30px;
        }

        .main-news img{
            padding: unset;
            margin:0px 0px 15px 0px;
            width:100%;
        }

        .main-new-desc a{
            padding-bottom:15px;
        }

        .news-title{
            margin: 10px 15px;
            align-items: center;
            padding: 0px 0px 20px 0px;
            margin:unset;

        }

        .news-date{
            display: inline-block;
            margin-bottom:5px;
        }

        .main-new-desc p{
            margin-top: 0px;
        }

        .desc-title{
            margin-bottom: 5px;
        }
        .news-date .month{
            display: inline-block;
        }
        .news-row{
            height: unset;
            margin-top: unset;

        }

        .news-row:first-child{
            margin-top: 45px !important;
        }

        .news-row-item{
           padding: 15px 0px;
           height: unset;
           flex: unset;
           width: unset;

        }
        .news-title .more-news{
            display: none;
        }
        .news-title .mobile-svg{
            display: block;
           margin-top: 9px;

        }

      

        .news-row-item img{
            display: none;
        }

        .news-title .more-news:hover{
            color: var(--light-blue) !important;
        }

        /* FOOTER */
        .footer{
            flex-direction: column;
            align-items: center;
        }

        .footer-container{

            margin: 15px 0 20px 0;
            min-width: 300px;

        }

        #copyright{
            flex-direction: column;

        }

        #copyright p{
            margin: 5px 0;
        }

        #donate{display: none;}

        #divider{
            display:none;
        }

        .nav-left p{
            display:none;
        }

        #search{
            display: none;
        }

        .search-icon{
            display:none;
        }


        .navbar{
            height: 60px;
            box-shadow: 0px 3px 6px  rgba(0,0,0,0.16);
            z-index: 100;
            position: fixed;
            width: 100%;
            top: 0px;
            background: white;

        }

        .nav-left{margin-left: 25px;}

        .nav-left img{
            height: 30px;
            width: 63px;

        }

        .nav-mobile{
            display: flex;
            font-family: var(--montserrat);
            font-size: 16px;
            color: var(--dark-blue);
            margin: 70px 25px 11px 25px;

        }


        #IUC-subtitle{
        font-size: 12px;
        }

    }
